# Backend service
SERVER_PORT=3000
DATABASE_URL=postgres://ascension:ascension@localhost:5432/ascension
JWT_KEY=your_jwt_secret_key_here

# MinIO service
MINIO_ROOT_USER=ascension
MINIO_ROOT_PASSWORD=ascension
MINIO_ENDPOINT=minio:9000

# RabbitMQ service
RABBITMQ_DEFAULT_USER=ascension
RABBITMQ_DEFAULT_PASS=ascension
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

# Database service
POSTGRES_HOST=postgresql
POSTGRES_USER=ascension
POSTGRES_PASSWORD=ascension
POSTGRES_DB=ascension
DB_URI=postgres://localhost:5432/ascension

# AI service
PYTHONUNBUFFERED=1

