# =============================================================================
# Services
# =============================================================================

## PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=ascension
POSTGRES_PASSWORD=ascension
POSTGRES_DB=ascension
POSTGRES_PARAMS="sslmode=disable"
POSTGRES_MIGRATION=true
POSTGRES_DB_URL=postgres://ascension:ascension@localhost:5432/ascension

## MinIO
MINIO_ENDPOINT=http://localhost:9000
MINIO_ID=ascension
MINIO_SECRET=ascension
MINIO_BUCKET=videos
MINIO_SSL=false
MINIO_ROOT_USER=ascension
MINIO_ROOT_PASSWORD=ascension
MINIO_HOST=minio
MINIO_PORT=9000

## RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=ascension
RABBITMQ_PASS=ascension
RABBITMQ_TLS=false
RABBITMQ_DEFAULT_USER=ascension
RABBITMQ_DEFAULT_PASS=ascension

## SonarQube
SONAR_HOST_URL=http://localhost:9005
SONAR_ADMIN_PASSWORD=AscensionSonarSecret2026!
SONAR_DB_USER=sonar
SONAR_DB_PASSWORD=sonar_pass_123!
SONAR_DB_NAME=sonar
SONAR_TOKEN=your_sonar_token_here



# =============================================================================
# Apps
# =============================================================================

## AI
PYTHONUNBUFFERED=1
GEMINI_API_KEY=your_gemini_api_key_here

## Backend
PORT=8080
HTTPS=false

### Auth / JWT
AUTH_JWT_SECRET=your_jwt_secret_key_here
AUTH_JWT_EXP=15m
AUTH_SESSION_SECRET=user_session
AUTH_SESSION_EXP=168h
AUTH_SESSION_REMEMBER_EXP=720h

### Logs
LOG_LEVEL=info
LOG_PRETTY=false

## Mobile
BACKEND_URL=http://localhost:8080
