############################ CONFIGURATION ####################################
name: ascension
on: [push, pull_request]

env:
  GITHUB_ACTIONS: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true
###############################################################################

############################ JOBS #############################################
jobs:
  ########################## COMMIT & BRANCH ##################################
  check_commit_and_branch:
    runs-on: ubuntu-latest

    ######################## STEPS ############################################
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0

      - name: Launch commit checker
        run: |
          COMMIT_NAME=$(git log --format="%s" -1)
          .github/scripts/check_commit "$COMMIT_NAME"

      - name: Launch branch checker
        run: |
          if [ "${GITHUB_EVENT_NAME}" = "pull_request" ]; then
              BRANCH_NAME="${GITHUB_HEAD_REF}"
          else
              BRANCH_NAME="${GITHUB_REF#refs/heads/}"
          fi
          echo "Branch detected: $BRANCH_NAME"
          .github/scripts/check_branch "$BRANCH_NAME"
        env:
          GITHUB_HEAD_REF: ${{ github.head_ref }}
  #############################################################################

  ########################## MIRROR REPOSITORY ################################
#   mirror_repository:
#     runs-on: ubuntu-latest
#     needs: check_commit_and_branch
#     if: github.ref == 'refs/heads/main' &&
#       github.repository == 'Ascension-EIP/Ascension'

#     ######################## STEPS ############################################
#     steps:
#       - name: Checkout main repo
#         uses: actions/checkout@v4.1.1
#         with:
#           fetch-depth: 0
#           ref: main

#       - uses: pixta-dev/repository-mirroring-action@v1
#         with:
#           target_repo_url: ${{ vars.MIRROR_REPOSITORY_URL }}
#           ssh_private_key: ${{ secrets.MIRROR_SSH_KEY }}
  #############################################################################
###############################################################################
