name: ascension-dev-to-production

on:
  workflow_run:
    workflows: ["ascension-ci"]
    types:
      - completed
    branches:
      - 'dev'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:

  merge-branch:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - name: Generate token
      id: generate_token
      uses: actions/create-github-app-token@v1
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}

    - name: Checkout
      uses: actions/checkout@v4
      with:
        token: ${{ steps.generate_token.outputs.token }}
        fetch-depth: 0
        ref: ${{ github.event.workflow_run.head_branch }}

    - name: Merge dev into main
      uses: everlytic/branch-merge@1.1.2
      with:
        github_token: ${{ steps.generate_token.outputs.token }}
        source_ref: ${{ github.event.workflow_run.head_branch }}
        target_branch: 'main'
        commit_message_template: 'merge: `{source_ref}` into `{target_branch}`'

          ########################## MIRROR REPOSITORY ################################
   mirror_repository:
     runs-on: ubuntu-latest
     needs: check_commit_and_branch
     if: github.ref == 'refs/heads/main' &&
       github.repository == 'Ascension-EIP/Ascension'

     ######################## STEPS ############################################
     steps:
       - name: Checkout main repo
         uses: actions/checkout@v4.1.1
         with:
           fetch-depth: 0
           ref: main

       - uses: pixta-dev/repository-mirroring-action@v1
         with:
           target_repo_url: ${{ vars.MIRROR_REPOSITORY_URL }}
           ssh_private_key: ${{ secrets.MIRROR_SSH_KEY }}
  #############################################################################